.container {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;  
    width: 100%;
    bottom: 0;
    height: fit-content;
    position: fixed;
}

.buttonercontainer {
    padding-top: 15px;
    opacity: 0;
    animation-delay: 2.5s;
    animation-duration: 0.8s;
    animation-name: appear;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 100%;
    }
  }


.iconlinkedin {
    height: 30px;
    width: 30px;
    margin: 5px;
    box-shadow: inset 0px 0px 0px var(--backgroundbox);
    border-radius: 5px;
    transition: all 0.5s !important;
    align-items: center;
    align-content: center;
    border: 1px solid white;
}

.iconlinkedin:hover {
    height: 30px;
    width: 30px;
    margin: 5px;
    box-shadow: inset 0px -80px 0px var(--backgroundbox);
    border-radius: 5px;
    border: 1px solid white;
}

