:root {
  --background: rgb(254, 243, 227);
  --text-primary: black;
  --text-secondary: gray;
  --text-hover: white;
  --borderbtn: black;
  --backgroundbtn: black;
  --backgroundbox: #2F3B47;
  --boxshadow: black;
  --colorbtn: white;
  --line: gray;
  --toggle: black;
}

[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: white;
  --text-hover: black;
  --borderbtn: white;
  --backgroundbtn: white;
  --backgroundbox: white;
  --boxshadow: white;
  --colorbtn: black;
  --line: white;
  --toggle: rgb(254, 243, 227);
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
